{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="page_naming_panel"><p>География</p></div>
    <div class="page_context_box">
        <h2>ГДЕ НУЖНЫ С# РАЗРАБОТЧИКИ?</h2>
        <p>Получив профессию, мы не хотим быть привязаны к одному месту жительства. Распространенность вакансии в других
            городах гарантирует возможность релокации в другой регион с целью повышения заработной платы или смены места
            жительства. Ниже будут приведены диаграммы, доказывающие, что профессия С# разработчика будет позволять
            свободно жить почти в любом городе страны и иметь работу по специальности.</p>
        <img class="big_diagramm" src="{% static 'img/TownAmountPercent.png' %}" alt="">
        <p>Вышеприведенная диаграмма демонстрирует, что С# специалист будет в состоянии найти работу в любом регионе
            страны. На ней демонстрируются все города, в которых количество вакансий больше 1-го процента от общего
            числа вакансий. Общее же числа населенных пунктов с вакансией С# разработчик составляет немногим более
            1700.</p>
        <img class="big_diagramm" src="{% static 'img/Town Middle Salary.png' %}" alt="">
        <p>Данная же диаграмма показывает, что заработные платы разработчиков не сильно зависят от региона и больше
            привязаны к уровню жизни в городе расположения. Так, например, средняя заработная плата в 80000 руб. в
            Москве обусловлена более высокой "стоимостью" жизни в городе. Так-же стоит учесть, что порядка сорока
            процентов работодателей в Москве рассматривают вариант удаленной работы, что позволит человеку из
            региона работать на столичную компанию.</p>

    </div>
{% endblock %}

