{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="page_naming_panel"><p>Главная</p></div>
    <div class="page_context_box">
        <h2>КТО ТАКОЙ С#-РАЗРАБОТЧИК?</h2>
        <p>С#-разработчик – программист, специализирующийся на веб-приложениях, декстопных и кроссплатформенных
            программных продуктах, играх, облачных сервисах. Язык С# входит в топ-5 самых востребованных языков
            программирования, а специалисты по С# необходимы даже в крупных IT-компаниях.</p>
        <p>Базовые функции С#-разработчика:</p>
        <ul>
            <li>Бэкенд-разработка;</li>
            <li>Создание высоконагруженных сайтов;</li>
            <li>Проектирование декстоп-приложения;</li>
            <li>Асинхронное программирование;</li>
            <li>Мобильная разработка.</li>
        </ul>
        <p>С# считается одним из самых простых, но в то же время и самых мощных языков программирования. Профессия
            является постоянно развивающейся в связи с поддержкой языка от Microsoft. Многие крупные IT-компании
            предпочитают именно этот язык в своих разработках. С#-разработчик – востребованная профессия в сфере
            информационных технологий. Рост вакансий на рынке кадров составил 170% за последние два года. Стать
            С#-программистом сейчас можно с нуля практически самостоятельно, пройдя курсы по направлению в
            онлайн-школах, и начать зарабатывать уже во время обучения.</p>
        <h2>СКОЛЬКО ЗАРАБАТЫВАЕТ С#-РАЗРАБОТЧИК?</h2>
        <img style="vertical-align: middle;" src="{% static 'img/c-sharp-1-min.jpg' %}" alt="">
        <p>За последние полгода заработная плата С#-разработчиков увеличилась на 16% - это самый быстрый рост в сфере
            IT. Большая часть работодателей предпочитает нанимать программистов на удаленную работу, что позволяет
            нанимать профессионалов с любой точки мира. В связи с этим заработная плата часто выражается в USD.</p>
        <p><strong>Заработная плата С#-разработчика:</strong></p>
        <ul>
            <li>В Москве – от 140 тыс. руб. до 6500 USD;</li>
            <li>Удаленная работа – от 2 000 USD до 12000 USD;</li>
            <li>Проектная работа – от 120 тыс. до 180 тыс. руб.</li>
        </ul>
        <p>Заключение договоров часто происходит как на проектной, так и на постоянной основе, в зависимости от желания
            работодателя. Доход С#-разработчика зависит только от его навыков и опыта работы в сфере информационных
            технологий. В течение работы есть возможность подняться по карьерной лестнице и вырасти из младшего
            разработчика в руководителя проекта. Быстрое развитие – одна из причин, по которой многие открывают новую
            профессию буквально с нуля.</p>
        <h2><a name="chto"></a>ЧТО ДОЛЖЕН ЗНАТЬ С#-РАЗРАБОТЧИК?</h2>
        <img style="vertical-align: middle; max-width: 756px" src="{% static 'img/codeing.png' %}" alt="">
        <p>Все необходимые знания для работы С#-программистом можно получить в онлайн-школах на специализированных
            курсах. По окончанию обучения выдаются дипломы и сертификаты о получении специальности, подтверждая ваши
            знания работодателю. Как и ко всем работникам, к программистам на С# предъявляются определенные
            требования.</p>
        <p>Необходимые навыки С#-разработчика:</p>
        <ul>
            <li>Решение задач любой сложности с помощью алгоритмов;</li>
            <li>Программирование на С#;</li>
            <li>Настройка серверной логики и ее взаимодействия с высоконагруженными базами данных;</li>
            <li>Написание декстопного приложения для ОС Windows;</li>
            <li>Работа с платформой .NET.</li>
        </ul>
        <p>Список необходимых навыков может видоизменяться в зависимости от требований нанимателя. Однако, чем шире
            область познания программиста, тем выше котируются его работы и, соответственно, тем значительнее становится
            его уровень дохода. Повысить квалификацию можно на специализированных курсах, выбрав программу, подходящую
            под свой уровень знаний.</p>
    </div>
    {{ HTMLPASTEROBJECT|safe }}
{% endblock %}

