{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="page_naming_panel"><p>Востребованность</p></div>
    <div class="page_context_box">
        <h2>ВОСТРЕБОВАНЫ ЛИ С#-РАЗРАБОТЧИКИ?</h2>
        <p>Каждый человек хочет быть уверен, что его профессия будет востребована через несколько лет. Получить эту
            уверенность можно проведя аналитику рынка и сделав выводы на основе полученных данных. Данная страница
            призвана убедить вас в том, что профессия С# разработчика будет востребована в будущем</p>
        <p>Диаграммы, отражающие востребованность С# специалистов:</p>
        <img class="big_diagramm" src="{% static 'img/Salaries dynamic.png' %}" alt="">
        <p>Вышеприведенная диаграмма показывает, что заработная плата С# специалиста выше средней заработной платы АЙТИ
            специалист. Исходя из результатов проведенной аналитики можно сделать вывод, что вакансия востребована и
            становится востребованне с каждым годом</p>
        <img class="big_diagramm" src="{% static 'img/Vacancies dynamic.png' %}" alt="">
        <p>Это демонстрирует вышепредстваленная диаграмма. Количество вакансий С# специалист заметно растет, но на этой
            диаграмме это видно не так хорошо. Ниже будет представлена более наглядная диаграмма</p>
        <img class="big_diagramm" src="{% static 'img/Vacancies percent.png' %}" alt="">
        <p>Как вы видите в процентном соотношении все не сильно меняется. Это говорит о том, что вакансии С# специалист
            подвержены общим тенденциям рынка, что в условиях бешеного роста спроса на Айти вакансии гарантирует
            востребованнось в будущем</p>

    </div>
{% endblock %}

