{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="page_naming_panel"><p>Навыки</p></div>
    <div class="page_context_box">
        <h2>ЧТО ДОЛЖЕН УМЕТЬ С# РАЗРАБОТЧИК?</h2>
        <p>Получив профессию, мы не хотим быть уволеными через месяц из-за того, что не оправдали ожидания. Для того,
            чтобы понимать, какие навыки необходимы С# специалисту необходимо провести анализ предметной области. Ниже
            представлены диаграммы 10 самых востребованных навыков по годам с 2015 по 2022, где вертикальная ось -
            это количество вакансий из общего числа, в которых требуется навык.</p>
        <img class="big_diagramm" src="{% static 'img/2015.png' %}" alt="">
        <img class="big_diagramm" src="{% static 'img/2016.png' %}" alt="">
        <img class="big_diagramm" src="{% static 'img/2017.png' %}" alt="">
        <img class="big_diagramm" src="{% static 'img/2018.png' %}" alt="">
        <img class="big_diagramm" src="{% static 'img/2019.png' %}" alt="">
        <img class="big_diagramm" src="{% static 'img/2020.png' %}" alt="">
        <img class="big_diagramm" src="{% static 'img/2021.png' %}" alt="">
        <img class="big_diagramm" src="{% static 'img/2022.png' %}" alt="">

    </div>
{% endblock %}

